.Nav-container {
    width: 100%;
}

.Nav-above {
    height: 90px;
    background-color: #5e6d66;
}

.Nav-container .Nav-nav {
    position: sticky;
    top: 0;
}

.Nav-nav {
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    color: white;
    background-color: #464646;
}

.Nav-nav p {
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    width: 12%;
    height: 20px;
}